{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<div class="container">
    <div class="row text-center" style="margin-top: 5%;">
        <div class="col shadow mb-5 table-light rounded"
            style="padding: 40px; margin: 0px auto; background-color: rgba(0, 0, 0, 0.03);">
            <img src="{% static 'images/bitsLogo.png' %}" alt="logo" style="width: 80%; max-width: 400px;;">
            <h3 style="margin: 10px;">Course Registration Portal</h3>
            <div class="row" style="margin-top: 30px; justify-content: space-around;">
                <div class="col-md-3 shadow border rounded" style="margin:10px; padding: 20px; background-color: rgba(0, 0, 0, 0.04);">
                    <h4>Add</h4>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/add-course/">Add Course</a>
                    </div>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/add-section/">Add Section</a>
                    </div>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/add-subsection/">Add Sub Section</a>
                    </div>
                </div>
                <div class="col-md-3 shadow border rounded" style="margin:10px; padding: 20px;background-color: rgba(0, 0, 0, 0.04);">
                    <h4>Modify</h4>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/modify-course/">Modify Course</a>
                    </div>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/modify-section/">Modify Section</a>
                    </div>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/modify-subsection/">Modify Sub Section</a>
                    </div>
                </div>
                <div class="col-md-3 shadow border rounded" style="margin:10px; padding: 20px; background-color: rgba(0, 0, 0, 0.04);">
                    <h4>Delete</h4>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/delete-course/">Delete Course</a>
                    </div>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/delete-section/">Delete Section</a>
                    </div>
                    <div style="padding: 10px;">
                        <a class="btn btn-dark" style="width: 100%;" href="/delete-subsection/">Delete Sub Section</a>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-6">
                    <div style="padding: 10px; text-align: right;">
                        <a class="btn btn-dark" style="width: 50%;" href="/view-timetable/">View Timetable</a>
                    </div>
                </div>
                <div class="col-6">
                    <div style="padding: 10px; text-align: left;">
                        <a class="btn btn-dark" style="width: 50%;" href="/download-timetable/">Download Timetable</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}