{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row text-center" style="margin-top: 5%;">
            <div class="col-6 shadow mb-5 table-light rounded" style="padding: 80px 40px; margin: 0px auto; background-color: rgba(0, 0, 0, 0.05);">

                <h1>Home Page!</h1>
                <div class="row">
                    <div class="col" style="margin: 0px auto;">
                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/add-course/">Add Course</a>
                        </div>
                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/add-section/">Add Section</a>
                        </div>
                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/add-subsection/">Add Sub Section</a>
                        </div>
                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/modify-course/">Modify Course</a>
                        </div>
                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/delete-course/">Delete Course</a>
                        </div>
                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/delete-section/">Delete Section</a>
                        </div>
                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/delete-subsection/">Delete Sub Section</a>
                        </div>

                        <div style="padding: 10px;">
                            <a class="btn btn-primary" style="width: 40%;" href="/view-timetable/">View Timetable</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}